.confirmButton:disabled {
  background-color: var(--small-text);
  color: white;
}
.confirmButton {
  background-color: var(--primary-color);
  color: white;
}
.confirmButton:hover {
  background-color: var(--primary-hover);
  color: white;
}

.addButton {
  background-color: var(--primary-color);
  border-radius: 8px;
}

.addButton:hover {
  background-color: var(--primary-hover);
}

.homeCard {
  color: var(--primary-color);
}
.homeCard:hover {
  color: var(--sidebar-bg-color);
  background-color: var(--primary-hover);
}
